body {
  margin: 0;
}

#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/loading-book.gif);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 40%;
  transition-property: opacity, visibility;
  transition-duration: 1s;
}

#app {
  width: 100vw;
  height: 100vh;
}

iframe {
  vertical-align: top
}